<div id="filtermobile">
   
   <div class="container mb-5">
      <div class="columns is-mobile">
         <div class="column has-text-centered p-2 is-primary">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="filtermobile">
               <div class="m-button">
                  <i class="fas fa-times"></i>
               </div>
            </a>
         </div>
      </div>
   </div>

   <div class="content-wrap py-3 js-filter-form">
      
      <div class="filter_mob_menu">
         {% if true %}
            <div class="filter_title">
               <label class="label" for="FilterTagsMobile">{{ 'collections.filters.title_tags' | t }}</label>
            </div>
            <div class="filter_select">
               <div class="control">
                  <div class="select">
                     <select class="filters-toolbar__input is-static" name="FilterTags" id="FilterTagsMobile" 
                             aria-describedby="a11y-refresh-page-message a11y-selection-message" data-select-input>
                        <option value="{{ collection.url }}">{{ 'collections.filters.all_tags' | t }}</option>
                        {% for tag in collection.all_tags %}
                           {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
                           <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
            </div>
         {% endif %}
      </div>

      <div class="sort_mob_menu">
         {% if true %}
            <div class="sort_title">
               <label class="label" for="SortByMobile">{{ 'collections.sorting.title' | t }}</label>
            </div>
            <div class="sort_select">
               {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
               <div class="control">
                  <div class="select">
                     <select name="sort_by" id="SortByMobile" class="filters-toolbar__input is-static"
                             aria-describedby="a11y-refresh-page-message a11y-selection-message"
                             data-default-sortby="{{ collection.default_sort_by }}"
                             data-select-input>
                        {%- for option in collection.sort_options -%}
                           <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                        {%- endfor -%}
                     </select>
                  </div>
               </div>
            </div>
         {% endif %}
      </div>

      <div class="button commit_bttn is-primary py-2 px-4 mt-3">
         <p>Apply Filter</p>
      </div>

   </div> <!-- .js-filter-form -->


</div>