<div id="menumobile" style="background: url('{{ 'fullmenubg.jpg' | asset_url }}') #333;">
  <a role="button" class="nav_bttn cross_bttn" aria-label="menu" aria-expanded="false" data-target="menumobile">
    <div class="m-button">
      <i class="fas fa-times"></i>
    </div>
  </a>
  <div class="content-wrap p-6">
    <div class="logobox">
      <img src="{{ 'logo.png' | asset_url }}" class="img-responsive"/>
    </div>
    <div class="optional-content pb-6">
      <div class="m-title">
        <h4>Categories</h4>
      </div>
      <div class="m-menu-wrap">
        <ul>
          {%- for collection in collections -%}
            <li class="m-cat">
              <a href="{{ collection.url }}">
                {{ collection.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="contact_details">
      <ul>
        <a href="tel:0800 689 0241"><li><i class="fas fa-phone"></i> 0800 689 0241</li></a>
        <a href="mailto:cs@alpha-supplements.co.uk"><li><i class="fas fa-envelope"></i> cs@alpha-supplements.co.uk</li></a>
        <a href="mailto:ebay@alpha-supplements.co.uk"><li><i class="fas fa-envelope"></i> ebay@alpha-supplements.co.uk</li></a>
      </ul>
    </div>
    <div class="cornerimg">
      <img src="{{ 'mobilebg.png' | asset_url }}">
    </div>
  </div>
</div>