<div class="search-popup is-hidden is-pulled-top is-fixed">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <form action="{{ routes.search_url }}" method="get" role="search" class="search-form">
                    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
                    <div class="field search-field has-addons m-5">
                    <div class="control is-expanded">
                        <input class="input"
                                type="search"
                                name="q"
                                value="{{ search.terms | escape }}"
                                aria-autocomplete="list"
                                aria-owns="predictive-search-results"
                                aria-expanded="false"
                                aria-label="{{ 'general.search.placeholder' | t }}"
                                aria-haspopup="listbox"
                                data-search-page-predictive-search-input
                                data-base-url="{{ routes.search_url }}"
                                placeholder="{{ 'general.search.placeholder' | t }}" />
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info"
                                aria-label="{{ 'general.search.submit' | t }}"
                                data-search-page-predictive-search-submit>
                                <i class="fas fa-search"></i>
                        </button>
                    </div>
                    </div>
                </form>
            </div>
            <div class="level-right m-5">
                <a class="button" onclick="modals.hideSearch();">x</a>
            </div>
        </div>
    </div>
</div>