<!-- Footer Goes Here!! -->

<div class="section section-footer pb-6 is-primary">
   <div class="container">

      <div class="columns is-mobile is-multiline">
         {% if section.settings.footerlogo_column %}
            <div class="column is-3-desktop is-12-touch">
               <div class="footer-logo">
                  <img src="{{ 'logo.png' | asset_url }}" class="img-responsive"/>
               </div>
               <div class="footer-blurb">
                  <p>{{ section.settings.footer_blurb }}</p>
               </div>
            </div>
         {% endif %}
         <div class="column is-6-touch">
            <div class="footermenu">
                  <h5 class="is-5 mb-4">Categories</h5>
                  <div class="menu">
                     {%- for collection in collections -%}
                     <div class="menu-label">      
                        <a href="{{ collection.url }}">
                           {{ collection.title }}
                        </a>
                     </div>
                     {%- endfor -%}
                  </div>
            </div>
         </div> <!-- .column -->
         {% if section.settings.footermenu_2 %}
            <div class="column is-6-touch">
            	<div class="footermenu">
                   <h5 class="is-5 mb-4">{{ section.settings.menutitle_2 }}</h5>
                   <div class="menu">
                      {%- assign footer_linklist = section.settings.menu_2 -%}
                      {%- for link in linklists[footer_linklist].links -%}
                         <p class="menu-label">
                            <a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %}>
                               {{ link.title | escape }}
                            </a>
                         </p>
                      {%- endfor -%}
                   </div>
            	</div>
            </div> <!-- .column -->
         {% endif %}
         {% if section.settings.footermenu_3 %}
            <div class="column is-6-touch">
            	<div class="footermenu">
                   <h5 class="is-5 mb-4">{{ section.settings.menutitle_3 }}</h5>
                   <div class="menu">
                      {%- assign footer_linklist = section.settings.menu_3 -%}
                      {%- for link in linklists[footer_linklist].links -%}
                         <p class="menu-label">
                            <a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %}>
                               {{ link.title | escape }}
                            </a>
                         </p>
                      {%- endfor -%}
                   </div>
            	</div>
            </div> <!-- .column -->
         {% endif %}
         <div class="column is-12-touch">
            <h5 class="is-5 mb-4">Contact Us</h5>
            <div class="contact-form">
               <div class="contactform">
                   <div class="contact-form form-vertical">
                       <form method="post" action="/contact#ContactForm" id="ContactForm" accept-charset="UTF-8" class="contact-form">
                           <input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
                           <input class="mb-2" type="text" id="ContactForm-name" name="contact[Name]" value="" placeholder="Name"/>
                           <input class="mb-2" type="email" id="ContactForm-email" name="contact[email]" autocorrect="off" autocapitalize="off" value="" aria-required="true" placeholder="Email" />
                           <textarea class="mb-2" rows="10" id="ContactForm-message" name="contact[Message]" placeholder="Type your Message Here!"></textarea>
                           <input class="contact-bttn is-primary btn" type="submit" class="btn" value="Send" />
                       </form>
                   </div>
               </div>
           </div>

         </div> <!-- .column -->
      </div> <!-- .columns -->
      
   </div> <!-- .container -->
</div> <!-- .section -->


<div id="footerbottom" class="section is-secondary section-copy py-5">
   <div class="container">
      <div class="level">
         <div class="level-left">Copyright Alpha Supplements 2022</div>
         <div class="level-right">
            <p>Built by Jarilo Design</p>
         </div>
      </div>      
    </div> <!-- .container -->
</div> <!-- .section -->

{% schema %}
{
   "name": { "en": "Footer" },
   "max_blocks": 1,
   "settings": [
      {
         "type": "header",
         "content": { "en": "Quick Links" },
         "info": { "en": "Link list that appears in the footer." }
      },
      {
         "type": "checkbox",
         "id": "footerlogo_column",
         "label": "Logo Column",
         "default": true,
         "info": "Hides or Displays the Logo Column"
      },        
      {
			"id": "footer_blurb",
			"type": "text",
         "label": "Footer Blurb",
         "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida nisl sit amet eleifend maximus. Sed tincidunt, lectus eu viverra ullamcorper."
		},
      {
         "type": "checkbox",
         "id": "footermenu_2",
         "label": "Footer Menu 2",
         "default": false,
         "info": "Hides or Displays Menu 2"
      },
      {
			"id": "menutitle_2",
			"type": "text",
         "label": "Menu Title 2",
         "default": "Quick Links"
		},
      {
         "type": "link_list",
         "id": "menu_2",
         "label": { "en": "Menu 2" },
         "default": "footer"
      },
      {
         "type": "checkbox",
         "id": "footermenu_3",
         "label": "Footer Menu 3",
         "default": false,
         "info": "Hides or Displays Menu 3"
      },
      {
			"id": "menutitle_3",
			"type": "text",
         "label": "Menu Title 3",
         "default": "Quick Links"
		},
      {
         "type": "link_list",
         "id": "menu_3",
         "label": { "en": "Menu 3" },
         "default": "footer"
      },
      {
         "type": "checkbox",
         "id": "has_newsletter",
         "label": "Newsletter",
         "default": false,
         "info": "Hides or Displays the Newsletter"
      }
   ],
   "blocks": []
}
{% endschema %}